name: Deploy to Server
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via Rsync
        uses: Burnett01/rsync-deployments@7.0.1
        with:
          switches: -vzrt --delete --exclude='.git*' --exclude='.vscode'
          path: ./
          remote_path: /var/www/html/
          remote_host: ${{ secrets.SERVER_IP }}
          remote_user: ${{ secrets.SERVER_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
